
ogr_70_1.jpg
ogr_70_1/binary.jpg
ogr_70_1/conturs.jpg
ogr_70_2.jpg
ogr_70_2/binary.jpg
ogr_70_2/conturs.jpg
POBR_vs2013.sdf
POBR_vs2013.sln
POBR_vs2013.v12.suo
teamp.jpg
test.jpg
Thumbs.db
x64/Debug/Framework.exe
x64/Debug/Framework.log
x64/Debug/Framework.obj
x64/Debug/Framework.pdb
*.tlog
*.obj
*.ipch
.vs/POBR_vs2013/v15/.suo
.vs/POBR_vs2013/v15/Browse.VC.db
.vs/POBR_vs2013/v15/Browse.VC.opendb
*.idb
*.pdb
Framework.vcxproj.user
Framework.vcxproj.filters
Framework.vcxproj
1.jpg
binary.jpg
conturs.jpg
median.jpg
median1.jpg
Obrazki lab1/Lena.png
Obrazki lab1/Max.png
Obrazki lab1/prac.JPG
Obrazki lab1/result.png
